// Variables
@import "core/variables";

// Core
// ----
@import "core/mixins";
@import "core/extend";
@import "core/helpers";

// No conflict
// -----------
@import "ui/typography";

// Objects
// -------
// e.g. - @import "objects/button";

// User Interface
// --------------
// e.g. - @import "ui/button";

// Layout
// ------
// e.g. - @import "layout/homepage";

// Animation
// ---------
// e.g. - @import "animation/hero";

// Temp
// ----

.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html, body {
  min-height: 100%;
}

body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3em;
}

.card {
  width: 700px;
  height: 450px;
  background: #333;
  position: relative;
  overflow: hidden;
  left: -1px;
  top: -1px;
}

.card--image {
  position: absolute;
  top: 0; right: 50%; bottom: 0; left: 0;
  background-position: center center;
  background-size: cover;
  margin-top: -1px;
  margin-left: -1px
}

.card--body {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 50%;
  background: #F6F6F6;
  padding-right: 30px;
  padding-left: 0;
  color: #4A4A4A;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;


  h1 {
    font-size: 21px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  > div {
    position: relative;
  }

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: -35px;
    width: 100px;
    background: #F6F6F6;
    transform: skewX(8deg)
  }
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-image: url("{{ 'background.svg' | image_url }}");
  background-position: center center;
}


a {
  text-decoration: none;
}

.button {
  padding: 10px 25px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
  &.active {
    background: #27ae60;
  }
  &:visited {
    color: #fff;
  }
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

input[type=text] {
  -webkit-appearance: none;
}

input[type=text], select {
  height: 25px;
  padding: 5px 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 240px;
  background: #fff;
}

select {
  height: 35px;
  width: auto;
  margin-bottom: 20px;
}

label {
  margin-bottom: 10px;
  display: inline-block;
}

em {
  font-style: normal;
  font-weight: bold;
}

input[type=text][readonly] {
  font-size: 10px;
}

.input-with-button-appended {
  @extend .clearfix;
  display: inline-block;

  input, .button {
    display: inline-block;
    float: left;
  }

  input {
    width: 180px;
    border-radius: 5px 0 0 5px;
    border-right: none;
  }

  .button {
    border-radius: 0 5px 5px 0;
    padding: 9px 10px;
  }
}
